@model CatShelter.Data.Cat

@{
    ViewData["Title"] = "Edit";
}
<style>
    .buttons a {
        margin: 3px 0px;
    }
    .buttons #savebutton{
        margin-top: 5px;
    }
</style>
<h1>Edit</h1>

<h4>Cat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreedsId" class="control-label"></label>
                <select asp-for="BreedsId" class="form-control" asp-items="ViewBag.BreedsId"></select>
                <span asp-validation-for="BreedsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VaccinesId" class="control-label"></label>
                <select asp-for="VaccinesId" class="form-control" asp-items="ViewBag.VaccinesId"></select>
                <span asp-validation-for="VaccinesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CagesId" class="control-label"></label>
                <select asp-for="CagesId" class="form-control" asp-items="ViewBag.CagesId"></select>
                <span asp-validation-for="CagesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="buttons">
                <div class="form-group" id="savebutton">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="Index" type="submit" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
