@using Microsoft.AspNetCore.Razor.TagHelpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CatShelter</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CatShelter.styles.css" asp-append-version="true" />
    
    <style>
        nav img {
            display: flex;
            width: 200px;
        }

        nav ul li {
            font-weight: 500;
        }
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
        }
        
        footer {
            background-color: orange;
            border: 3px solid black;
            display: flex;
            justify-content: space-evenly;
            padding: 8px 16px;
            position: absolute;
            top: 100%;
            flex-wrap: wrap;
            border-top-left-radius: 1%;
            border-top-right-radius: 1%;
        }

        .footer-info {
            width: 25%;
        }

        .footer-info-title {
            font-family: cursive;
            font-size: 28px;
            color: white;
            -webkit-text-stroke: 1.5px black;
        }

        .socials-icons {
            padding: 10px;
        }

        .socials-text {
            padding: 10px;
            font-size: 20px;
        }

        .socials-title {
            display: flex;
            flex-direction: column;
            color: white;
            text-align: center !important;
        }

        .socials {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .socials-container {
            display: flex;
            flex-direction: row;
            min-width: 250px;
            border-bottom: 1px solid black;
        }

        #contacts-width {
            max-width: 250px;
        }

        iframe {
            box-shadow: 0px 0px 10px white, 0px 0px 20px white, 0px 0px 30px white;
            border: 2px solid white;
            border-radius: 5%;
        }
        .admin-item{
            background-color: orange;
            margin-right: 5px;
            border: 2px solid black;
            padding: 0;
            border-radius: 9999px;
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 125px;
            text-align: center;
        }
        .admin-item span{
            padding-right: 5px;

        }
        @@media screen and (max-width: 991px) {
            .footer .socials-text {
                font-size: 15px;
            }
        }

        @@media screen and (max-width: 830px) {
            .footer {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="position: relative;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img draggable="false" src="https://i.ibb.co/KrCV9FV/3a523eea0594be103f8542feab3283fd-removebg-preview.png" style="draggable: false;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cats" asp-action="Index">Осинови</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Adoptions" asp-action="Index">Осиновени</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            
                            <li class="nav-item">
                                <div class="admin-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Cages" asp-action="Index">Клетки</a>
                                    <span class="material-symbols-outlined">
                                        settings
                                    </span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="admin-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Breeds" asp-action="Index">Породи</a>
                                    <span class="material-symbols-outlined">
                                        settings
                                    </span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="admin-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Vaccines" asp-action="Index">Ваксини</a>
                                    <span class="material-symbols-outlined">
                                        settings
                                    </span>
                                </div>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted" style="bottom: auto;">
        <div class="footer-info">
            <div class="socials-title">
                <span class="footer-info-title">Контакти</span>
                <div class="socials">
                    <div id="contacts-width" class="socials-container">
                        <div class="socials-icons"><img src="https://static.vecteezy.com/system/resources/previews/020/009/614/original/email-and-mail-icon-black-free-png.png" width="50" /></div>
                        <div class="socials-text"><span style="font-family: cursive;">garfield@gmail.com</span></div>
                    </div>
                </div>
                <div class="socials">
                    <div id="contacts-width" class="socials-container">
                        <div class="socials-icons"><img src="https://cdn-icons-png.flaticon.com/512/15/15407.png" width="50" /></div>
                        <div class="socials-text"><span style="font-family: cursive;">+359 123456789</span></div>
                    </div>
                </div>
                <div class="socials">
                    <div id="contacts-width" class="socials-container">
                        <div class="socials-icons"><img src="https://freesvg.org/img/noun-project-462.png" width="50" /></div>
                        <div class="socials-text"><span style="font-family: cursive;">ул. "Иван Вазов" 34</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <div class="socials-title">
                <span class="footer-info-title">Социални мрежи</span>
                <div class="socials">
                    <div class="socials-container">
                        <div class="socials-icons"><a href="https://instagram.com"><img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-512.png" width="50" /></div>
                        <div class="socials-text"><span style="font-family: cursive;">instagram.com</span></div></a>
                    </div>
                </div>
                <div class="socials">
                    <div class="socials-container">
                        <div class="socials-icons"><a href="https://instagram.com"><img src="https://seeklogo.com/images/F/facebook-icon-black-logo-133935095E-seeklogo.com.png" width="50" /></div>
                        <div class="socials-text"><span style="font-family: cursive;">facebook.com</span></div></a>
                    </div>
                </div>
                <div class="socials">
                    <div class="socials-container">
                        <div class="socials-icons"><a href="https://instagram.com"><img src="https://cdn-icons-png.flaticon.com/512/60/60580.png" width="50" /></div>
                        <div class="socials-text"><span style="font-family: cursive;">twitter.com</span></div></a>
                    </div>
                </div>
                <div class="socials">
                    <div class="socials-container">
                        <div class="socials-icons"><a href="https://instagram.com"><img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/youtube-icon.png" width="50" /></div>
                        <div class="socials-text"><span style="font-family: cursive;">youtube.com</span></div></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <div class="text-center">
                <span class="footer-info-title">Адрес</span>
                <div><iframe style="width: 250px; height: 250px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23478.8127252714!2d24.76775128441189!3d42.643306096002156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a9964870ace0b5%3A0xaad95876b628a138!2z0KLRgNC40L7QstC10YI!5e0!3m2!1sbg!2sbg!4v1712132261258!5m2!1sbg!2sbg" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
        </div>



    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
