@using CatShelter.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Client> SignInManager
@inject UserManager<Client> UserManager
<style>
    .admin-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .icon {
        padding-right: 8px;
    }
    .searchbutton{
        background-color: orange;
        border-color: orange;
    }

    .searchbutton:hover {
        color: #fff;
        background-color: darkorange;
        border-color: darkorange;
        border
    }
</style>
<ul class="navbar-nav">
    <li class="nav-item">
        <form class="d-flex" asp-controller="Cats" asp-action="Index">
            <input style="width: 50%;" class="form-control" type="search" placeholder="Търсачка ... " name="SearchString">
            <button class="searchbutton btn btn-secondary my-2 my-sm-0" type="submit">Търси</button>
        </form>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="admin-icon">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @User.Identity?.Name! </a>
                @if (User.IsInRole("Admin"))
                {
                    <div class="icon" style="border-right: 1px solid lightgray;">
                        <span class="material-symbols-outlined">
                            shield_person
                        </span>
                    </div>
                }
                @if (User.IsInRole("User"))
                {
                    <div class="icon" style="border-right: 1px solid lightgray;">
                        <span class="material-symbols-outlined">
                            account_circle
                        </span>
                    </div>
                }
            </div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            
            <div class="admin-icon">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                @if (!User.IsInRole("Admin") && !User.IsInRole("User"))
                {
                    <div class="icon" style="position: relative">
                        <span style="z-index: -1;" class="material-symbols-outlined">
                            assignment
                        </span>
                        <span style="position: absolute; top: 0%; left: 40%; transform: rotate(-25deg); z-index: 1;" class="material-symbols-outlined">
                            edit
                        </span>
                    </div>
                }
            </div>
            
        </li>
        <li class="nav-item">
            <div class="admin-icon">
                <a style="border-left: 1px solid lightgray; margin-left: 10px;" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                @if (!User.IsInRole("Admin") && !User.IsInRole("User"))
                {
                    <div class="icon">

                        <span class="material-symbols-outlined">
                            login
                        </span>
                    </div>
                }
            </div>



        </li>
    }
</ul>
