@model CatShelter.Data.Donation

@{
    ViewData["Title"] = "Details";
}

<h1>Информация за дарение</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Име на дарител
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Сума
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Редактиране</a> |
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>
