@model IEnumerable<CatShelter.Data.Cat>

@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.cdnfonts.com/css/garfield" rel="stylesheet">
                
<style>
    body{
        user-select: none;
    }
    .image-container img {
        max-width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        border: 1px solid lightgray;
        border-radius: 3px;
    }

    .image-container {
        margin-bottom: -50px;
        position: relative;
    }

    .centered-text {
        position: absolute;
        top: 30%;
        bottom: 0%;
        right: 20%;
        left: 0%;
        color: white;
        text-align: center;
        height: 0;

    }

    h1 {
        font-size: 56px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .heading {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
    }

        .heading a:hover {
            font-size: 44px;
            text-decoration: none;
            border-radius: 9999px;
            color: white;
        }

    .heading span {
        padding: 3px 10px;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        border-radius: 9999px;

    }
    
    .heading span, h1{
        background: linear-gradient(#db890f, #fcba03);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a {
        text-decoration: none;
        color: white;
    }

        a:visited {
            color: white;
            text-decoration: none;
        }

    .aboutus-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: orange;
        text-shadow: 1px 1.5px 1px black;
        padding: 3px; 
    }

    .aboutusimage-container{
        padding: 0px 10px;
        width:50%;

    }
    .aboutusimage-container img{
        max-width: 100%;
        height: auto;
        border-radius: 15px;
        border: 2px solid black;
        box-shadow: 0px 0px 3px black;
    }
    .aboutus-text{
        margin-bottom: 100px;
        line-height: 2.2rem;
        width: 50%;
        padding: 0px 15px;
        font-family: cursive;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .title{
        color: black;
        text-shadow: none;
    }
    .aboutus-text p::first-letter{
        font-size: 36px;
        text-transform: uppercase;
    }
    .aboutus-text p {
        font-size: 22px;
        text-align: justify;
        flex-direction: column;
    }
    #margin-text{
        margin-bottom: 60px;
    }
    .text-center{
        font-size: 36px;
        font-family: cursive;
        margin-bottom: 25px;
    }
    .title{
        text-align: center;
    }
    .adopt a:hover{
        transform: scale(1.1);
    }
    .adopt a{
        transition: ease-in-out 0.5s;
    }
    .adopt{
        -webkit-text-stroke: 0.5px black;
    }
    .heading h1{
        -webkit-text-stroke: 1px #fff;
    }

    @@media screen and (max-width: 1400px) {
        .aboutus-container .aboutus-text p{
            font-size: 18px;
        }
    }

    @@media screen and (max-width: 1199px) {
        .aboutus-container .aboutus-text{
            line-height: 1.5rem;
        }
    }

    @@media screen and (max-width: 991px) {
        .aboutus-container .aboutus-text p {
            font-size: 14px;
            line-height: 1rem;
            text-shadow: 1px 1px black, 1.25px 1.25px black;
        }

            .aboutus-container .aboutus-text p::first-letter{
                font-size: 20px;
            }
            h1{
                font-size: 35px;
            }
            .heading{
                font-size: 25px;
            }
            .heading a:hover{
                font-size: 29px;
            }
        .title{
            font-size: 15px;
            text-shadow: 0.25px 0.25px black;
            
        }
    }

    @@media screen and (max-width: 768px) {
        .aboutusimage-container{
            display: inline-flex;
            align-items: center;
        }
        .aboutus-text{
            margin: 0;
        }
        #margin-text{
            margin-bottom: 0;
        }
    }

    
</style>
<div class="image-container">
    <img src="https://d6ph2xvi1auyo.cloudfront.net/images/1.jpg" />
    <div class="centered-text">
        <div class="heading">
            <h1>Гарфилд<br /></h1>
            <div class="adopt">
                <a href="Cats"><span>Осинови коте</span></a>
            </div>
        </div>
    </div>
</div>

<hr size="4" style="margin-top: 75px">
<div class="text-center">За нас</div>
<div class="aboutus-container">
    <div class="aboutusimage-container">
        <img src="https://thevets.com/wp-content/uploads/2022/05/orange_cats_2-1.jpg" />
    </div>
    <div id="margin-text" class="aboutus-text" style="border-right: 2px solid lightgray;">
        <h3 class="title">Спасяваш живот и даваш любов</h3>
        <br />
        <p>
            Съдбата на животните на улицата не е радостна,
            а много от тях изобщо не оцеляват. Осиновявайки
            коте от улицата, спасяваш/променяш живота му и
            получаш любов, мъркане, косми, драскотини.
            С котките винаги е смешно и забавно - ще потвърди
            всеки, в чието семейство има поне една.
        </p>
    </div>
    <div class="aboutus-text" style="border-left: 2px solid lightgray">
        <h3 class="title">Красиви, здрави, истински котки</h3>
        <br />
        <p>
            Котките са изумителни - раждат се красиви и със стил,
            независимо от породата или липсата на такава.
            Добре гледаната котка винаги е естетична и се
            вписва прекрасно в интериора и снимките ви.
            Друго предимство на непородистата котка е,
            че с нея вероятно ще посещавате рядко ветеринаря.
        </p>
    </div>
    <div class="aboutusimage-container">
        <img src="https://ontariospca.ca/wp-content/uploads/2018/08/Adopting-shelter-cat.jpg"/>
    </div>
    <div class="aboutusimage-container">
        <img src="https://www.hdwallpapers.in/download/funny_cat_is_lying_down_on_floor_playing_with_ball_hd_funny_cat-1920x1080.jpg"/>
    </div>
    <div class="aboutus-text" style="border-right: 2px solid lightgray">
        <h3 class="title">Да отглеждаш котка е лесно</h3>
        <br />
        <p>
            Котките не изискват разходки навън рано сутрин.
            Най-често те спят, докато и ти спиш,
            защото ги мързи. Изключително чисти
            са и толерират реда и хигиената,
            освен когато не крадат бисквити и хляб.
            Можете да ги оставяте сами в къщи за
            уикенд или докато сте на почивка, ако има кой да ги наглежда.
        </p>
    </div>  
    <div class="aboutus-text" style="border-left: 2px solid lightgray">
        <h3 class="title">С твоя помощ популацията намалява</h3>
        <br />
        <p>
            Една улична котка става родител средно
            на 8 котета за една година. През следващата
            година семейството й ще се увеличи с около 50-60 внучета,
            а следващите 10 години бройката става шокираща.
            Нарастването на популацията се контролира само
            с отговорно отглеждане и кастрация. Осиновяването на улично
            коте е не само благородно, но и социално отговорно решение
        </p>
    </div>
    <div class="aboutusimage-container">
        <img src="https://www.bigissue.com/wp-content/uploads/2021/06/News_BOB_HERO_1466.jpg?w=1920" />
    </div>
</div>


