@{
    ViewData["Title"] = "Home Page";
}
<style>
    img{
        max-width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;

    }
    .image-container{
        margin-bottom: -50px;
    }
    .centered-text{
        font-size: 48px;
        font-family: cursive;
        position: absolute;
        top: 40%;
        bottom: 0;
        right: 0;
        left: 35%;
        color: white;
    }
    span{
        text-align: center;
        display: flex;
    }
    
</style>
<div class="image-container">
    <img src="https://d6ph2xvi1auyo.cloudfront.net/images/1.jpg" />
</div>
<div class="centered-text">
    <span>Гарфилд<br />
        Намери дом.
    </span>
</div>


